.body{
    width: 100%;
    height: 1000px;
    display: inline-block;
    padding: 100px;
}
.passage_head{
    height: 40px;
    width: 70%;
    font-size: 20px;
    text-align: center;
    position: relative;
    left: 10%;
}
.passage_author{
    position: relative;
    left: 10%;
    width: 70%;
}

.passage_author1{
    text-indent: 25px;
}
